<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Online Store Automation suite">
<listeners>
  <listener class-name="com.onlinestore.listeners.Listeners" />
  </listeners>
  <test name="OnlineStore Tests">
    <classes>
          <class name="com.onlinestore.testcases.Register"/>
         <class name="com.onlinestore.testcases.Login"/>
      <class name="com.onlinestore.testcases.Search"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
